[submodule "import/CMSPyLibs"]
	path = import/CMSPyLibs
	url = git@github.com:neggert/CMSPyLibs.git
[submodule "import/cmsscripts"]
	path = import/cmsscripts
	url = git@github.com:neggert/cmsscripts.git
